---
layout: default
---

<div class="home">

    <div class="row">

        {% assign projects = site.projects | sort: 'date' | reverse %}
        {% for project in projects %}
          <div class="col-lg-4 col-md-4 col-sm-6">
              <a href="{{ project.url | relative_url }}">
                  <div class="img__wrap">
                  {%if project.thumbnail %}
                    <img class="img__img" src="{{site.baseurl}}/{{ project.url | replace: "/", " " | truncatewords: 2, "" | replace: " ", "/" }}/{{ project.thumbnail }}"></img>
                  {% else %}
                    <img class="img__img" src="{{ "assets/default_thumbnail.png" | relative_url }}"></img>
                  {% endif %}
                    <div class="img__description_layer">
                        <p class="img__description">{{ project.title }}</p>
                    </div>
                </div>
              </a>
        </div>

        {% endfor %}
    </div>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
